<h3>About demo application CRK</h3>
<div class="row">
    <div class="col-md-9">
        <br />
        <p>Demo aplication CRK - Company Record Keeping was developed for the subject Advanced Software Engineering at the master studies at the Faculty of Electronic Engineering in Nis.</p>
        <p>The main goal of the application was to show the implementation of Repository Pattern and UnitOfWork with Entity Framework in ASP.NET.</p>
        <p>
            The main purpose of the application is the management of a company. The application monitors information about all employees in the company (their roles, contracts, salaries),
            all payments to their accounts (salaries, overtime, etc.) and both paid and unpaid absences.
        </p>
        <p>The application was developed by Aleksandar Mladenović and Dimitrije Kocić.</p>
    </div>
    <div class="col-md-3">
        <img src="../logo.png" width="200" height="200"/>
    </div>
</div>