@model NSI_CRK.Models.Payment

<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <h1>SkyNet</h1>
            <p class="lead">SkyNet is a small startup company based in Niš.</p>
        </div>
        <div class="col-md-3">
            <img src="../company-logo.png" width="140" height="140" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3><b>Current state of the company</b></h3>
        <br />
        <h4>Number of employees: @ViewBag.NumberOfEmployees</h4>
        <h4>Total salary fund: @ViewBag.SalarySum</h4>
    </div>
    <div class="col-md-6">
        <h3><b>Generate salaries</b></h3>
        <br />
        @using (Html.BeginForm("GenerateSalaries", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-4">
                    <h4>For month: </h4>
                </div>
                <div class="col-md-4">
                    @Html.EnumDropDownListFor(model => model.Month, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <input style="width:100px;height:34px" type="submit" name="Generate" value="Generate"/>
        }
    </div>
</div>